/* Import Font */
@font-face {
  font-family: 'jakarta-bold';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'jakarta-extrabold';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'jakarta-extralight';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'jakarta-light';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'jakarta-medium';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'jakarta-regular';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'jakarta-semibold';
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

/* Class Font Family */
.jakarta-bold {
  font-family: 'jakarta-bold' !important;
}
.jakarta-extrabold {
  font-family: 'jakarta-extrabold' !important;
}
.jakarta-extralight {
  font-family: 'jakarta-extralight' !important;
}
.jakarta-light {
  font-family: 'jakarta-light' !important;
}
.jakarta-medium {
  font-family: 'jakarta-medium' !important;
}
.jakarta-regular {
  font-family: 'jakarta-regular' !important;
}
.jakarta-semibold {
  font-family: 'jakarta-semibold' !important;
}

/* make class font size from 10 to 64 */
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-23 {
  font-size: 23px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-27 {
  font-size: 27px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-29 {
  font-size: 29px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-31 {
  font-size: 31px !important;
}
.font-32 {
  font-size: 32px !important;
}
.font-33 {
  font-size: 33px !important;
}
.font-34 {
  font-size: 34px !important;
}
.font-35 {
  font-size: 35px !important;
}
.font-36 {
  font-size: 36px !important;
}
.font-37 {
  font-size: 37px !important;
}
.font-38 {
  font-size: 38px !important;
}
.font-39 {
  font-size: 39px !important;
}
.font-40 {
  font-size: 40px !important;
}