body{
  font-family: 'jakarta-regular';
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
body::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar{
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important;  /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.header{
  width: 100vw;
  height: 80px;
  padding-left: 10vw;
  padding-right: 10vw;
}
.home-background{
  background-image: url('../assets/images/bg_01.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 100vh;
  width: 100vw;
}
.home-blue-filter{
  background: linear-gradient(to bottom, rgba(2, 81, 152, 0.4) 75%, rgb(255, 255, 255) 25%);
  height: 100vh;
  width: 100vw;
}
.home-header{
  background: linear-gradient(90deg, rgba(2, 81, 152, 0.4) 0%, rgba(7, 113, 166, 0.4) 100%);
  backdrop-filter: blur(10px);
}
.content-siaran{
  width: 504px !important;
  height: 323px !important;
  padding-top: 37%;
  background-image: url('../assets/images/content_4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.content-siaran-text{
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.animate-scale:hover{
  scale: 1.1;
}

.p-container-x{
  padding-left: 10vw;
  padding-right: 10vw;
}

.custom-button {
  height: 34px !important;
  padding-left: 8px;
  padding-right: 8px;
}
.custom-outline-button {
  height: 34px !important;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid !important;
}
.custom-oval-button {
  height: 34px !important;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 17px !important;
}
.custom-chips{
  height: 27px;
  border-radius: 13px;
}
.cursor-pointer{
  cursor: pointer;
}